@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary-color: #6366f1;
    --accent-colot: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --backgroud-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray:#555;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter';
}

.header{
    border:2px solid black;
}

body{
    height: 100vh;
    background-color: var(--backgroud-color);
    padding: 0.5rem;
} 

.header_container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;
}

.logo{
    display: flex;
    align-items: center;
    gap:0.625rem;
}

.logo_text{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.logo_icon{
    mix-blend-mode: multiply;
    height: 2rem;
    width: 1.7rem;
}

.nav_container{
    display: none;
    gap:1.5rem;
}

@media screen and (min-width:768px) {
    .nav_container{
        display: flex;
    }
}

.nav_links{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: all 0.1s;
}

.nav_links:hover{
    color: var(--link-color);
}

.contact_button{
    display: none;
    background-color: var(--primary-color);
    border-radius: 0.375rem;
    color: var(--backgroud-color);
    padding: 0.75rem 1.5rem;
    transform: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .contact_button{
        display: block;
    }
}

.nav_button{
    mix-blend-mode: hard-light;
    border: none;
    display: none;
    border-radius: 0.375rem;
    color: var(--backgroud-color);
    transform: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
}

.nav_icon{
    height: 3rem;
    
}

@media screen and (max-width:768px){
    .nav_button{
        display: block;
    }
}
.contact_button:hover{
    background-color: #5254f8;
}


.content_box{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    padding: 1rem 7rem;
}

@media screen and (max-width:768px) {
    .header_container{
        padding: 1rem 1rem;
    }
    .content_box{
        flex-direction: column;
        align-items: center;
        gap:2rem;
        text-align: center;
        padding: 1rem 1rem;
    }
    .right_box{
        width: 100%;
        border-radius: 20px;
    }
    .left_box{
        width: 100%;
    }
    .hero_btn{
        justify-content: center;
    }
}   

.right_box{
    height: 60vh;
    width: 70%;
    overflow: hidden;
    border-radius: 20px;
}

.hero_image_box{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.left_box{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 1rem;
    animation: slideFromLeft 1s ease forwards;    
}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0);
    }
}

.sub_heading{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}

.heading{
    color: var(--text-color);
    font-size: 3rem;
    font-weight: bold;
}

.brief_detail{
    color: var(--dark-gray);
    font-weight: 500;
    line-height: 1.8rem;
    font-size: 1rem;
    width: 100%;
}

.hero_btn{
    display: flex;
    gap:1rem;
    margin: 1rem 0;
}

#btn_style{
    border: none;
    border-radius: 0.375rem;
    color: var(--backgroud-color);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    
}

.start_now_btn{
    background-color: var(--primary-color);
}

.start_now_btn:hover{
    background-color: #5254f8;
}

.take_tour_btn{
    background-color: var(--dark-gray);
}

.take_tour_btn:hover{
    background-color: #444;
}

.company_container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;
    color: var(--text-color);
}

.company_grid{
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1.5rem;
    border-radius: 0.625rem;
    gap: 1.5rem 1.5rem;
}

@media screen and (max-width:768px) {
    .company_grid{
        grid-template-columns: repeat(2,1fr);
    }
}
.company_logo_container{
    display: flex;
    gap: 0.7rem;
    align-items: center ;
    font-size: 1rem;
    font-weight: 500;

}

.svg_img{
    height: 30px;
}

.features_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 7rem;
    background-color: var(--light-gray);
}


.feature_card{
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--accent-colot);
    color: var(--backgroud-color);
    border-radius: 0.625rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
}

.feature_svg_icon{
    background-color: var(--backgroud-color);
    mix-blend-mode: screen;
    border-radius: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.45rem;
}

.feature_name{
    font-weight: bold;
}

.brief_feature_detail{
    font-weight: 400;
    color: var(--light-gray);
}

.features_card_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem 1rem;
    padding: 0 5rem;
}

@media screen and (max-width:800px) {
    .features_card_grid{
        grid-template-columns: repeat(1,1fr);
    }
    .features_container{
        padding: 2rem 2rem;
    }
}

.feature_card:nth-child(2){
    background-color: #FF6289;
}

.feature_card:nth-child(3){
    background-color: #fcbf58;
}
.feature_card:nth-child(4){
    background-color: #44bfc3;
}
.feature_card:nth-child(5){
    background-color: #77b05d;
}
.feature_card:nth-child(6){
    background-color: #7d78b1;
}

.testinomial_container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 2rem 1rem;
    gap:2rem;
    font-size: 0.8rem;
    color: var(--text-color);
}

@media screen and (max-width:600px) {
    .testinomial_container{
        font-size: 0.7rem;
    }
}

.feedback_card{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.625rem;
    gap:0.5rem;
    color: var(--gray);
    transition: all 0.3s ease;
}

.feedback_card:hover{
    transform: scale(1.05);
    color: black;
    /* font-weight: 500; */
    border: 1px solid var(--accent-colot);
}

.feedback_user_img{
    height: 4rem;
    width: 4rem;
}

.feedback_user_img img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10rem;
    object-fit: cover;
}

.feedback_user_name{
    color: var(--primary-color);
    font-weight: bold;
}

.feedbacks_card_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 1.5rem;
}

.newsletter_container{
    
    display: flex;
    margin: 2rem 7rem;
    height: 60vh;
    background-color: var(--light-gray);

}

.newsletter_left_box{
    display: none;
    height: 60vh;
    width: 50%;
}

.newsletter_right_box{
    width: 100%;
    padding-right: 1rem;
}

.newsletter_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.newsletter_right_box{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 0.2rem;
    padding-left: 2rem;
}

.terms{
    /* display: flex;
    flex-direction: row; */
    font-size: 0.8rem;
    gap: 0.2rem;
    padding-right: 1rem;
}

.newsletter_heading{
    color:var(--primary-color);
    font-size: 1.7rem;
}

.newsletter_form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.625rem;
}
.email_ip{
    padding: 0.5rem;
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--backgroud-color);
    transition: all 0.3s ease;
}

.email_ip:hover{
    border-color: var(--primary-color);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

.form_button{
    background-color: var(--primary-color);
    color: var(--backgroud-color);
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.form_button:hover{
    background-color: var(--link-color);
}
@media screen and (max-width:800px) {
    .newsletter_container{
        margin: 2rem 0rem;
    }
}
@media screen and (min-width:800px) {
    .newsletter_left_box{
        display: block;
    }
    .newsletter_right_box{
        width: 50%;
    }
    .newsletter_heading{
        font-size: 2rem;
    }
}

.footer_container{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    padding: 1rem 7rem;
}


.footer_container_1{
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 1px solid black;
}

.footer_container_2{    
    padding-top: 0.4rem;
    color: red;
    animation: moveText 5s linear infinite alternate;
}

@keyframes moveText {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(60%);
    }
}

.footer_left_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

.footer_right_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 60%;
}

.footer_link_columns_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
}

.footer_column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.footer_column a{
    color: var(--text-color);
}

.footer_profile_links{
    display: flex;
    gap: 0.6rem;
}

.footer_svg_img{
    height: 1.5rem;
    width: 1.5rem;
    opacity: 70%;
    object-fit: fill;
}


.footer_logo h2{
    color: var(--text-color);
}

@media screen and (max-width:1080px) {
    .footer_container{
        padding: 1rem 1rem;
    }
    .footer_container_1{
        flex-direction: column;
        gap: 2rem;
    }
    .footer_left_box{
        width: 100%;
    }
    .footer_right_box{
        width: 100%;
    }
}

@media screen and (max-width:650px) {
    .footer_logo{
        font-size: 0.7rem;
    }
    .footer_logo img{
        height: 1.2rem;
        width: 1.1rem;
    }
    .footer_container_1 span{
        font-size: 0.8rem;
    }
    .footer_link_columns_grid{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        font-size: 0.7rem;
    }
    .footer_container_2{
        font-size: 0.7rem;
    }
    .footer_svg_img{
        height: 1rem;
        width: 1rem;
    }
}